---
import MainLayout from '../layouts/MainLayout.astro';

import Login from '../components/play/Login.astro';
import WachtScherm from '../components/play/WachtScherm.astro';
import Controller from '../components/play/Controller.astro';
import RondeUitslag from '../components/play/RondeUitslag.astro';
import EindScherm from '../components/play/EindScherm.astro';
---

<MainLayout>
    <div>
        <Login />
        <WachtScherm />
        <Controller />
        <RondeUitslag />
        <EindScherm />
    </div>
    
    <script>
        const ws = new WebSocket('ws://localhost:8081');

        // mag standaard niet antwoorden
        let magAntwoorden = false;

        // verkeersregelaar schermen
        function toonScherm(actiefSchermId) {
            // zet alle schermen in een array
            const alleSchermen = ['loginScherm', 'wachtScherm', 'gameScherm', 'uitslagScherm', 'eindScherm'];

            // verberg alle schermen
            alleSchermen.forEach(scherm => {
                document.getElementById(scherm)?.classList.add('hidden');
            });

            // laat alleen actieve scherm zien
            document.getElementById(actiefSchermId)?.classList.remove('hidden');
        }

        ws.onopen = () => {
            console.log('Verbonden met de lobby!');
        };

        ws.onmessage = async (event) => {
            try {
                let data = event.data;
                if (data instanceof Blob) data = await data.text();
                
                const envelop = JSON.parse(data);

                // Als de server zegt dat de naam fout is (leeg of bezet):
                if (envelop.type === 'login_fout') {
                    // Laat een simpele pop-up zien met de foutmelding
                    alert(envelop.bericht); 
                } 

                // Als de server zegt dat alles klopt:
                else if (envelop.type === 'login_succes') {
                    toonScherm('wachtScherm');
                }

                // Als de server zegt dat het spel is gestart:
                else if (envelop.type === 'nieuwe_vraag') {
                    // spelers mogen antwoorden
                    magAntwoorden = true;

                    // reset de achtergrondkleur van de vorige vraag
                    document.body.classList.remove('scherm-goed', 'scherm-fout');

                    toonScherm('gameScherm');

                    // verberg alles standaard
                    // document.getElementById('wachtScherm')?.classList.add('hidden');
                    // document.querySelector('.antwoord-knoppen').classList.add('hidden');
                    // document.getElementById('openVraagContainer').classList.add('hidden');
                    // document.getElementById('uitslagScherm').classList.add('hidden');
                    // document.getElementById('eindScherm').classList.add('hidden');
                    
                    // document.getElementById('kijkNaarScherm').textContent = 'Kijk naar het grote scherm!';
                    // document.getElementById('gameScherm')?.classList.remove('hidden');
                    // document.body.classList.remove('scherm-goed', 'scherm-fout');
                    
                    // laat de juiste besturing zien op basis van het type vraag
                    if (envelop.vraagSoort === 'open_seizoen') {
                        document.querySelector('.antwoord-knoppen').classList.add('hidden');
                        document.getElementById('openVraagContainer').classList.remove('hidden');
                        document.getElementById('openAntwoordInput').value = ''; // reset het invulveld
                    } else {
                        document.getElementById('openVraagContainer').classList.add('hidden');
                        document.querySelector('.antwoord-knoppen').classList.remove('hidden');
                    }
                }

                else if (envelop.type === 'ronde_uitslag_speler') {
                    toonScherm('uitslagScherm');

                    // // verberg controller component
                    // document.getElementById('gameScherm')?.classList.add('hidden');

                    // // laat uitslag component zien
                    // document.getElementById('uitslagScherm')?.classList.remove('hidden');

                    const tekst = document.getElementById('uitslagTekst');

                    if (envelop.isGoed) {
                        tekst.innerHTML = `GOED!<br><br>Jouw score: <strong>${envelop.jouwScore} punten</strong>`;
                        document.body.classList.add('scherm-goed');
                    } else {
                        tekst.innerHTML = `FOUT!<br><br>Jouw score: <strong>${envelop.jouwScore} punten</strong>`;
                        document.body.classList.add('scherm-fout');
                    }
                }
                else if (envelop.type === 'eindscore') {
                    // document.getElementById('gameScherm')?.classList.add('hidden');
                    // document.getElementById('wachtScherm')?.classList.add('hidden');
                    // document.getElementById('uitslagScherm')?.classList.add('hidden');
                    document.body.classList.remove('scherm-goed', 'scherm-fout');
                    toonScherm ('eindScherm');

                    // document.getElementById('eindScherm')?.classList.remove('hidden');
                }
                else if (envelop.type === 'ga_naar_lobby') {
                    // reset de achtergrondkleuren van het uitslag-scherm
                    document.body.classList.remove('scherm-goed', 'scherm-fout');
                    
                    toonScherm('wachtScherm');
                }
                else if (envelop.type === 'tussenstand') {
                    document.body.classList.remove('scherm-goed', 'scherm-fout');
                    
                    document.getElementById('wachtScherm').textContent = 'Tussenstand op het grote scherm!';
                    toonScherm('wachtScherm');
                }

            } catch (error) {
                console.error('Fout bij het lezen van bericht:', error);
            }
        };

        // meedoen knop
        document.getElementById('joinBtn')?.addEventListener('click', () => {
            const naamInput = document.getElementById('spelerNaam');
            const spelerNaam = naamInput.value;

            const envelop = {
                type: 'nieuwe_speler',
                naam: spelerNaam 
            };
            ws.send(JSON.stringify(envelop));
        });

        // luisteren naar multiple choice knoppen
        document.querySelectorAll('.antwoord-knop').forEach((knop) => {
            knop.addEventListener('click', (event) => {
                // slot dicht -> niks doen
                if (!magAntwoorden) return;
                // anders
                magAntwoorden = false;

                // haal nummer van knop op (0-3)
                const gekozenIndex = event.target.getAttribute('data-index');

                // maak envelop voor server
                const envelop = {
                    type: 'speler_antwoord',
                    gekozenIndex: parseInt(gekozenIndex)
                }

                ws.send(JSON.stringify(envelop));
                console.log('Antwoord verzonden:', envelop);

                // verander tekst zodat speler weet dat antwoord is verzonden
                document.getElementById('wachtScherm').textContent = 'Antwoord verzonden! Wachten op de rest...';
                toonScherm('wachtScherm');
            });
        });

        // luister naar verzenden van open vraag
        document.getElementById('stuurOpenBtn')?.addEventListener('click', () => {
            // slot dicht -> niks doen
            if (!magAntwoorden) return;
            // anders
            magAntwoorden = false;

            const input = document.getElementById('openAntwoordInput');
            
            const envelop = {
                type: 'speler_antwoord',
                gekozenAntwoord: input.value
            };
            ws.send(JSON.stringify(envelop));
            
            document.getElementById('wachtScherm').textContent = 'Antwoord verzonden! Wachten op de rest...';
            toonScherm('wachtScherm');
        });
    </script>
</MainLayout>

<style is:global>
    .quiz-container {
        text-align: center;
        margin-top: 2rem;
        padding: 1rem;
    }

    h1 {
        margin-bottom: 2rem;
    }

    .hidden {
        display: none !important;
    }

    #gameScherm {
        width: 100%;
        height: 60vh;
    }

    .antwoord-knoppen {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        width: 100%;
        height: 100%;
    }

    .antwoord-knop {
        border: none;
        border-radius: 8px;
        background-color: var(--secondary-color);
        color: black;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .scherm-goed {
        background-color: var(--secondary-color) !important;
        transition: background-color 0.3s;
    }
    .scherm-fout {
        background-color: #e21b3c; 
        color: white;
        transition: background-color 0.3s;
    }
</style>