---
const currentPath = Astro.url.pathname;
---

<header>
    <div class="titel-links">THE &bull; ONE &bull; WITH &bull; THE &bull; QUIZ</div>
    <img src="/public/images/friends_logo_wit_def.png" alt="Friends Logo">
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2rem;
        background-color: #111;
    }

    .titel-links {
        font-family: 'Gabriel Weiss', sans-serif;
        letter-spacing: 0px;
    }

    img {
        height: 18px;
    }

    @media screen and (max-width: 768px) {
        header {
            flex-direction: column;
            gap: 10px;
        }

        .titel-links {
            font-size: 1.2rem;
        }
        
        img {
            height: 25px;
        }
    }
</style>