<div id="uitslagScherm" class="uitslag-container hidden">
    
    <h2 id="uitslagTekst" class="uitslag-tekst">Uitslag...</h2>

    <div id="succesGif" class="hidden gif-box">
        <div class="tenor-gif-embed" data-postid="8624671429702300547" data-share-method="host" data-aspect-ratio="1" data-width="100%">
            <a href="https://tenor.com/view/friends-friends-tv-tv-friends-david-schwimmer-ross-geller-gif-8624671429702300547">Friends Friends Tv GIF</a>
        </div> 
    </div>

    <div id="foutGif" class="hidden gif-box">
        <div class="tenor-gif-embed" data-postid="372245784238604745" data-share-method="host" data-aspect-ratio="1" data-width="100%">
            <a href="https://tenor.com/view/friends-friends-tv-friendstv-tvfriends-tv-friends-gif-372245784238604745">Friends Friends Tv GIF</a>
        </div>
    </div>

    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

</div>

<style>
    .uitslag-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 210px);
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .uitslag-tekst {
        font-size: 2rem;
        text-align: center;
        color: white; 
        text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
        margin-bottom: 30px; 
    }

    .gif-box {
        width: 100%;
        max-width: 280px; 
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    }
</style>