<div id="wachtScherm" class="wacht-container hidden">
    <img src="/images/frame.png" alt="Laden..." class="draaiend-frame" />
    <h2 id="wachtTekst" class="waiting-screen">Wachten op de host...</h2>
</div>

<style>
    .waiting-screen {
        color: var(--secondary-color); 
        margin-top: 2rem;
    }

    .wacht-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70vh; 
    }

    .draaiend-frame {
        width: 150px;
        animation: spin 3s linear infinite;
    }

    @keyframes spin {
        100% { transform: rotate(360deg); }
    }
</style>